<div class="table-responsive">
  <div *ngIf="loading">Loading...</div>
  <form *ngIf="!loading" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <ng-container *ngFor="let field of fields">
        <ng-container [ngSwitch]="field.type">
          <ng-container *ngSwitchCase="'object'">
            <span *ngFor="let objectField of field.fields" [formGroupName]="field.name">
              <ng-container [ngSwitch]="objectField.type">
                <label [for]="objectField.name">{{ objectField.placeholder }}</label>
                <input *ngSwitchCase="'text'"
                  type="text"
                  class="form-control"
                  [id]="objectField.name"
                  [name]="objectField.name"
                  [placeholder]="objectField.placeholder"
                  [formControlName]="objectField.name"
                />
              </ng-container>
            </span>
          </ng-container>
          <label [for]="field.name">{{ field.placeholder }}</label>
          <input *ngSwitchCase="'text'"
            type="text"
            class="form-control"
            [id]="field.name"
            [name]="field.name"
            [placeholder]="field.placeholder"
            [formControlName]="field.name"
          />
          <input *ngSwitchCase="'email'"
            type="email"
            class="form-control"
            [id]="field.name"
            [name]="field.name"
            [placeholder]="field.placeholder"
            [formControlName]="field.name"
          />
          <input *ngSwitchCase="'password'"
            type="password"
            class="form-control"
            [id]="field.name"
            [name]="field.name"
            [placeholder]="field.placeholder"
            [formControlName]="field.name"
            autocomplete="new-password" 
          />
          <textarea *ngSwitchCase="'textarea'"
            [id]="field.name"
            [name]="field.name"
            [placeholder]="field.placeholder"
            [formControlName]="field.name"
            class="form-control"
          >
          </textarea>
          <select *ngSwitchCase="'select'"
            [id]="field.name"
            [name]="field.name"
            class="form-control"
          >
            <option>(Choose {{ field.placeholder }})</option>
            <option *ngFor="let option of field.options" [value]="option.key">
              {{ option.value }}
            </option>
          </select>
        </ng-container>
      </ng-container>
    </div>
    <div class="form-group">
      <button *ngIf="action === 'add'" class="btn btn-success btn-xs" type="submit">Create</button>
      <button *ngIf="action === 'edit'" class="btn btn-primary btn-xs" type="submit">Update</button>
      <a class="btn btn-danger btn-xs" (click)="onCancel()">Cancel</a>
    </div>
  </form>
</div>
  