<div class="table-responsive">
  <table class="table table-striped">
    <thead *ngIf="!resource && loading">
      <tr><td>Loading...</td></tr>
    </thead>
    <tbody *ngIf="resource">
      <tr>
        <th>ID</th>
        <td>{{ resource._id }}</td>
      </tr>
        <ng-container *ngFor="let field of fields">
          <ng-container [ngSwitch]="field.type">
            <ng-container *ngSwitchCase="'object'">
              <ng-container *ngFor="let objectField of field.fields">
                <tr>
                  <th>{{ objectField.placeholder }}</th>
                  <td>{{ resource[field.name][objectField.name] }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <tr>
                <th>{{ field.placeholder }}</th>
                <td>{{ resource[field.name] }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
    </tbody>
  </table>
  <a class="btn btn-primary btn-xs" routerLink="edit">Edit</a>
  <a class="btn btn-danger btn-xs" (click)="onDelete()">Delete</a>
</div>
  